<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Custom Login Page</title>
</head>

<body>
	<h3>My Custom Login Page</h3>
	<form action="#" th:action="@{/authenticateTheUser}" method="POST">
		<div th:if="${param.error}">
			<i style="color: red;">Sorry! you have entered an invalid username/password.</i>
		</div>
		<p>User Name : <input type="text" name="username" /></p>
		<p>Password : <input type="text" name="password" /></p>
		<input type="submit" value="login" />
	</form>
</body>

</html>