<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Customer Registration form</title>

	<style>
		.error {
			color: red;
		}
	</style>

</head>

<body>
	<i>Fill out the form. Asterisk (*) means required</i>
	<br><br>
	<form th:action="@{/processform}" th:object="${customer}" method="POST">
		First name: <input type="text" th:field="*{firstname}" />
		<br><br>
		Last name: <input type="text" th:field="*{lastname}" />
		<!--Add error message(If present)-->
		<span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="error" />
		<br><br>

		Free passes : <input type="text" th:field="*{freepasses}" />
		<span th:if="${#fields.hasErrors('freepasses')}" th:errors="*{freepasses}" class="error" />
		<br><br>
		Postal Code :<input type="text" th:field="*{postalCode}" />
		<span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error" />
		<br><br>
		Course Code :<input type="text" th:field="*{courseCode}" />
		<span th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}" class="error" />
		<br><br>

		<input type="submit" value="Submit" />
	</form>
</body>

</html>